
body {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0; 
    color: black;
    font-family: Arial, sans-serif;
}

.big-container {
    display: grid;
    grid-template-areas: 
    "header header header"
    "aside main main"
    "footer footer footer";
    width: 90%;
    max-width: 1200px;
    gap: 20px;
}

.header {
    grid-area: header;
    background: black;
    color: gold;
    text-align: center;
    padding: 20px;
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 8px;
}

.aside-bar {
    grid-area: aside;
    background: #222;
    padding: 20px;
    border: 2px solid gold;
    border-radius: 8px;
}

.aside-bar h2 {
    color: gold;
    border-bottom: 1px solid gold;
    padding-bottom: 10px;
}

.aside-bar ul {
    padding: 0;
    list-style: none;
}

.category-list a {
    margin: 10px 0;
    color: gold;
}

.container-main {
    display: grid;
    grid-area: main;
    gap: 20px;
    background-color: white; /* Fondo blanco para el área principal */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Añade una sombra */
}

.footer {
    grid-area: footer;
    background: black;
    color: gold;
    text-align: center;
    padding: 20px;
    font-family: 'Franklin Gothic Medium';
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.5); /* Añade una sombra */
    border-radius: 8px;
}

.container-products {
    display: grid;
    grid-template-columns: auto auto auto; 
    grid-template-rows: auto auto auto; 
    gap: 20px;
}

.card {
    background-color: white;
    border: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s;
}


.card img {
    width: 80%;
    margin-bottom: 10px;
    border: 1px solid gold;
    padding: 5px;
    border-radius: 4px;
}

.card-text, .card-price {
    color: black;
    margin: 10px 0;
}

.card-text {
    font-size: 1.2em;
}

.card-price {
    font-size: 1.5em;
    font-weight: bold;
}
